.ExternCard {
  min-width: 300px;
}

.extern-card-todo {
  height: 221px;
  background-color: #59b4d1;
}
.extern-card-inprogress {
  height: 221px;
  background-color: #d0935a;
}
.extern-card-review {
  height: 332px;
  background-color: #945ad1;
}
.extern-card-done {
  height: 332px;
  background-color: #59d090;
}
