.App {
  text-align: center;
  /* background-color: #e1e8ed; */
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  font-size: 38px;
  color: black;
  justify-content: center;
  width: 100%;
}

.App.App-Container{
   flex-direction: row;
   justify-content: space-around;
   gap: 35px;
   margin-left: 70px;
   
}


.App-background {
  position: static;
  width: 1011px;
  height: 792px;
  left: 20%;
  top: 54px;
}

.background-color {
  background-color: #e1e8ed;
  position: absolute;
  width: 1920px;
  height: 995px;
  z-index: -2;
}
