/* .intern-card-container {
  height: 81px;
  width: 280px;
  border-radius: 2px;
  background-color: white;
  flex-direction: row;
} */

.intern-card-container {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  justify-content: left;
  border-radius: 2px;
  height: 100px;
  width: 280px;
  /* padding: 10px; */
  margin: 5px 10px;
}
.h3 {
  width: 100%;
}
.content {
}
.avatar {
}

.children {
}
