
 .intern-card{
  display: flex;
  flex-direction: column;
  
  
  
  background-color: #FFFFFF;
  border-radius: 4px;
  
  height: auto;
  width: 280px;
  border-style: outset;
    
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  

}

.intern-card-title{
  display: flex;
  


}

.intern-card-status{
  display: flex;
  gap: 10px;  
  
    
}

