
 .intern-card{
  display: flex;
  flex-direction: column;
  
  
  
  background-color: #FFFFFF;
  border-radius: 4px;
  height: 81px;
  width: 280px;
   
  
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  

}

.intern-card-title{
  display: flex;
  


}

.intern-card-status{
  display: flex;
  gap: 10px;  
  
    
}